<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>

<table>
<tr><td>★ハンドルネーム</td><td>３４号</td></tr>
<tr><td>★誕生日</td><td>１１月６日</td></tr>
<tr><td>★年齢</td><td>(●⌒∇⌒●) </td></tr>
<tr><td>★住まい</td><td>千葉県浦安市の木造安アパート１階</td></tr>
<tr><td>★好きな歌手</td><td>宇多田☆浜崎☆ＪＡＭ☆ＥＬＴ☆etc</td></tr>
<tr><td>★好きな食べ物</td><td>ステーキ（レア）☆トロ☆納豆</td></tr>
<tr><td>★好きなこと</td><td>ゴルフ☆チャット</td></tr>
<tr><td>★好きな人</td><td>(●⌒∇⌒●)</td></tr>
</table>